---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'
import Layout from '@/layouts/default.astro'
import FormattedDate from '@/components/formatted_date.astro'
import ReadingTime from '@/components/reading_time.astro'

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<Layout title="Blog | Nazhard">
	<section>
		<a href="/" text-sm text-gray-4 no-underline>&larr; Back</a>
		<h1 text-3xl font-bold>Blog Posts</h1>
		<p>
		  Here, I'll share what I've learned, share what I know, and a few other things.
		</p>
		<p>
			Follow: 
			<a href="/rss.xml" inline-block>
				<Icon name="ui/rss" class="w-4 h-4" />
			</a>
		</p>
	</section>
	
  <hr mt-3 mb-7 border-2 border-zinc-7>

  <section>
		<ul>
			{posts.map((post) => (
				<li mb-10>
					<a text-2xl font-bold no-underline href={`/posts/${post.slug}/`}>
						{post.data.title}
					</a>
					<p m-0 my-1>
						{post.data.description}
					</p>
					<span italic text-sm>
						<FormattedDate date={post.data.pubDate} />
						-
						<ReadingTime post={post} />
					</span>
				</li>
			))}
		</ul>
	</section>
</Layout>
