---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/default.astro'
import Hr from '@/components/hr.astro'
import Socials from '@/components/socials.astro'
import FormattedDate from '@/components/formatted_date.astro'
import ReadingTime from '@/components/reading_time.astro'
import A from '@/components/a.astro'
import { AUTHOR } from '@config'

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
const recentPosts = posts.slice(0, 5)
---

<Layout
  title="I'm Nazhard - A Anime"
  description="Nazhard Personal Website"
>
  <section>
    <a target="_blank" href={AUTHOR.avatar_url}>
      <img
        h-auto w-25 rounded-7 float-left
        md:w-35 lg:45 md:mr-15
        outline="~ zinc-900"
        src={AUTHOR.avatar}
        alt="Nazhard profile picture"
      />
    </a>
    <div ml-27 mb-10>
      <p text-2xl font-extrabold md:text-5xl m-0 pt-2>
        Nazan H.
      </p>
      <p text-xs>
        Cute Self-taught Programmer with an interest in compilers and cute anime girls
      </p>
    </div>
  </section>
  <section>
    <p>
      Cute hobbyist developer from Indonesia. I create and design simple tools for (mostly) personal use.
    </p>
    <A r href="/about">About Me</A>
    
    <h2 text-xl mt-10>Contact</h2>
    <p>
      Do you need help with your open source project?
      I can help you, but maybe you'll help me XD.
      Regardless, please contact me via email: <a href="mailto:nazhard@proton.me">nazhard@proton.me</a>.
      If it's an informal matter, You can do it via telegram :)
    <p>
    <p m-0><Socials /></p>

    <Hr />

    <h2 text-xl>Recent Posts</h2>
		<ul>
			{recentPosts.map((post) => (
				<li mb-10>
					<a text-xl font-bold no-underline href={`/posts/${post.slug}/`}>
						{post.data.title}
					</a>
					<p m-0 my-1>
						{post.data.description}
					</p>
					<span italic text-sm>
						<FormattedDate date={post.data.pubDate} />
						-
						<ReadingTime post={post} />
					</span>
				</li>
			))}
		</ul>

    <A r href="/posts">Read All</A>
	</section>
</Layout>
