---
import type { CollectionEntry } from 'astro:content'
import { Icon } from 'astro-icon/components'
import BaseLayout from './default.astro'
import FormattedDate from '@/components/formatted_date.astro'
import ReadingTime from '@/components/reading_time.astro'
import A from '@/components/a.astro'

type Props = CollectionEntry<'blog'>['data']

const { time, title, description, tags, pubDate, updatedDate } = Astro.props
---

<script>
	window.addEventListener('scroll', function() {
    const btn = document.getElementById('returnToTopBtn')
		const h = window.innerHeight - 200
    if (window.scrollY > h) {
      btn.classList.remove('hidden')
      btn.classList.add('block')
    } else {
      btn.classList.remove('block')
      btn.classList.add('hidden')
    }
	})
	
	document.getElementById('returnToTopBtn').addEventListener('click', function() {
    window.scrollTo({top: 0, behavior: 'smooth'})
	})
</script>

<BaseLayout>
  <article mb-5>
		<button
		id="returnToTopBtn"
		class="fixed bottom-20 right-10 hidden bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded
		lg:right-15">
      <Icon
        name="ui/top" class="w-7 h-7"
      />
		</button>

		<a href="/posts" text-sm text-gray-6 no-underline>
			&larr; All Posts
		</a>
		<div my-3>
			<FormattedDate date={pubDate} /> - <ReadingTime post={time} />
		</div>
		<section>
			<h1 text-4xl font-bold>{title}</h1>
			<p m-0>
			  {description}
			</p>
		</section>
		<div my-3>
			{tags.map((t) => (
				<A href={`/categories/${t}`}
					class="font-bold mx-1">
					#{t}
				</A>
			))}
			{updatedDate && (
				<div text-sm mt-2>
					Last updated on <FormattedDate date={updatedDate} />
				</div>
			)}
		</div>
  	<hr mt-5 mb-10 border-1 border-zinc-7>
	
		<slot />

		<p>Thanks for reading, onii-can & nee-chan!! :3</p>
		<hr border-1 border-zinc-7>
	</article>

	<script src="https://giscus.app/client.js"
    data-repo="fiorin-chan/fiorin-chan.github.io"
    data-repo-id="R_kgDOKyFtgw"
    data-category="General"
    data-category-id="DIC_kwDOKyFtg84CeRqX"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    crossorigin="anonymous"
    async>
	</script>
</BaseLayout>

<style is:inline>
h2, h3, h4, h5, h6 {
	margin: 3.5rem 0 2rem 0;
	line-height: 1.2;
}
h1 {
	font-size: 2.44em;
	font-weight: 700;
}
h2 {
	font-size: 2.05em;
	font-weight: 700;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.35em;
}
h5 {
	font-size: 1em;
}
strong, b {
	font-weight: 700;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: #45475a;
	border-radius: 2px;
}
pre {
	padding: 0.5em;
	border-radius: 5px;
}
pre > code {
	all: unset;
	font-size: 15px;
}
blockquote {
	position: relative;
  margin-left: 35px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
}
.q {
	position: relative;
	font-size: 22px;
	padding: 10px;
	padding-bottom: 50px;
}
.q span {
	float: right;
	font-size: 16px;
  font-style: normal;
	margin-top: 5px;
	margin-right: 20px;
	color: black;
}
hr {
	border-top: 2px solid #45475a;
}
</style>
